doctype html
html
  head
    meta(charset= 'utf-8')
    title Тестовое задание
    link(rel= 'stylesheet', type= 'text/css', href= '/css/main.css')
  body
    .container
      section.hotel-rating
        .hotel-rating__photo-wrapper
          img.hotel-rating__photo(src= 'img/moscow.png')
        .hotel-rating__info-wrapper
          .hotel-rating__heading-wrapper
            p.header Hustiniano Club Park Conti 5*
            p.hotels отель на TopHotels
            p.countries Турция, Аланья, Окурджалар
          .hotel-rating__rating-wrapper
            p.rating 4.12
            p.txt Размещение – 4.34
            p.txt Сервис – 4.34
            p.txt Питание – 4.34
            img.cool(src= '/img/icon-cool.png')
            p.cool 63.5% рекомендуют
            img.like(src= '/img/icon-like.png')
            p.like 88 нравится
            img.flag(src= '/img/icon-flag.png')
            p.flag были в отеле
    .container
      h3.developments Cобытия в отеле – 4
      img.icon-bregneva(src= 'img/bregneva.png')
      img.icon-lazarev(src= 'img/lazarev.png')
