.header
  margin: -100px 0 0 0
  display: inline-block;
  padding: 15px
  font-family Arial
  color #000000
  font-size 15px
  font-weight 700
  line-height 22px
  text-align left
  position relative
  display inline
