.hotel-rating
  background #f6f6f6
  overflow hidden

.hotel-rating__photo-wrapper
  float left
  padding 15px

.hotel-rating__info-wrapper
  float left
  padding: 15px 15px 15px 0

.hotel-rating__heading-wrapper
  border-bottom: 1px solid #e7e7e7
  padding: 0 0 11px 0
// .hotel-rating__rating-wrapper

.hotel-rating__photo
  display block
