.hotel-rating
  background #f6f6f6
  overflow hidden

.hotel-rating__photo-wrapper
  float left
  padding 15px

.hotel-rating__info-wrapper
  float left

// .hotel-rating__heading-wrapper
// .hotel-rating__rating-wrapper

.hotel-rating__photo
  display block
